.btn, a.btn {
  color: #FFF;
  width: 183px;
  height: 51px;
  padding: 13px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #01996D;
}

.home-btn {
  display: flex;
}

.btn-big, a.btn-big {
  width: 227px;
  min-height: 65px;
  padding: 20px 0;
}