.btn, a.btn {
  color: #FFF;
  width: 183px;
  min-height: 51px;
  padding: 13px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #01996D;
}

.home-btn {
  display: flex;
}

.btn-big, a.btn-big {
  width: 227px;
  min-height: 65px;
  padding: 20px 0;
}

@media (max-width: 991px) {
  .btn, a.btn {
    min-height: 41px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-big, a.btn-big {
    min-height: 55px;
  }
}